*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    background-image: linear-gradient(rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7)),
    url(images/val-cityhall.jpg); /* Background image with linear gradient overlay */
    min-height: 50vh; /* Minimum height of the viewport */
    width: 100%;
    background-attachment: fixed; 
    background-size: cover; 
    position: absolute;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    object-fit: cover;
    object-position: center;
    color: #606468; 
    font-size: 0.875rem; 
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    min-block-size: 100vh; /* Minimum block size for viewport height */
  }

  
  /* Styling for the main container of the form */
  .form-container {
    position: relative;
    max-width: 900px;
    width: 100%;
    background: #fff; 
    padding: 0 80px;
    padding-bottom: 0;
    
    text-align: left; 
    border-radius: 20px; 
    box-shadow: 0px 36.98px 73.97px 0px rgba(216, 216, 216, 0.25), 0px 31.7px 63.4px 0px rgba(0, 0, 0, 0.25); /* Shadow effect */
  }

  .p {
    flex-wrap: wrap;
    width: calc(80% / 1 - 50px);
  }

  
  /* Styling for the form image */
  .form-image {
    position: relative;
    top: 40px;
    left: 82%;
    max-width:160px;
    height: 60px;
   
  }


  /*Form Style*/  
  .form-container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 12px 0;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 10px);
  }

  .user-details .input-box .text {
    display: block;
    font-weight: 500;
    margin-bottom: 0;
  }

  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #34a853;
  }


  /*Dropdown Style*/
  .form-container form select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 12px 0;
  }

  form .user-details select {
    margin-bottom: 15px;
    width: calc(100% / 2 - 10px);
  }

  .custom-dropdown {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: rgb(159, 159, 159);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .custom-dropdown:hover {
    border-color: #34a853;
  }


  /*Countinue Button Style*/
  form .continue-button {
    height: 45px;
    margin: 5px 0;
    margin-bottom: 0;
    position: relative;
    bottom: 40px;
    left: 70%;
  }

  form .continue-button {
    height: 50px;
    width: 30%;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: #34a853; 
  }

  .continue-button:hover{
    background: #2f8446;
    cursor: pointer;
  }


  /*Gender Style*/
  .form-container form .gender-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 50px 0;
  }

  form .user-details .gender-details {
    margin-bottom: 20px;
    width: calc(100% / 2 - 10px);
  }

  form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
    margin-right: 200px;
  }

  form .gender-details {
    height: 45px;
    margin: 100px 0;
    position: relative;
    bottom: 4.5px;
    left: 5px;
  }

  form .gender-details .category {
    display: flex;
    width: 60%;
    margin: 14px 0;
    justify-content: space-between;
  }

  .gender-details .category label {
    display: flex;
    align-items: center;
  }

  .gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }

  #dot-1:checked ~ .category label .one,
  #dot-2:checked ~ .category label .two {
    border-color: #d9d9d9;
    background: #4285f4;
  }

  form input[type="radio"] {
    display: none;
  }


  /*Upload Files*/
  .upload-wrapper {
    position: relative;
    width: 360px;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .upload-container {
    text-align: center;
    width: 100%;
}

.custom-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    padding: 20px;
}

.custom-upload h1,
.custom-upload p {
    margin: 0;
}

.custom-upload input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.custom-upload label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.upload-icon {
    margin-bottom: 1px; /* Adjust margin as needed */
    font-size: 30px;
}

  
  



  
  
  